@media screen and (max-width: 768px) {
  /* test it with: body{
        display:none;
    } */

  /* body {
    overflow-x: hidden;
  } */

  /* WHAT SHOULD HAPPEN TO THE NAV-LINKS WHEN WE GET TO MOBILE */
  /* .buttons {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(80, 94, 141);       
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  } */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .logo{
    position: absolute;
    margin-top: -200px;
    /* margin-right: 800px; */
    width: 0;
    
  }
.info{
  position: relative;
  width: 100%;
  margin-right: 100px;
  margin-bottom: 200px;
}
  .buttons{
    position: relative;
    display: block;
    margin-top: 0px;
    
    

  }
  /* i want the nav bar lists not to show, so that when we click on the burger icon it slowly fades in */
  /* .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
} */
/* add image as logo */
/* #logo-image {
  float: left;
  width: 20px;
  height: 15px;
  margin-right: 10px;
}

.nav-active {
  transform: translateX(0%);
} */

/* now what we have to do is to animate the list into the humburger menu
...so lets build an animation
*/

/* @keyframes navLinkFade {

  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */