body {
  background-image: url(/Images/pay.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.nav-bar {
  display: flex;
  margin-left: 6rem;
  color: white;
  /* font-family: ; */
  font-size: 2rem;
}

.nav-head {
  width: 8rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}
.nav-links {
  margin-left: 50rem;
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}

li:hover {
  background-color: rgb(134, 65, 7);
  background-position: center;
}

#links {
  list-style-type: none;
  display: flex;

  /* right: 0%; */
  text-decoration: none;
  /* padding-right: 2rem; */
  color: white;
}

li {
  float: right;
}

a {
  right: 0%;
  text-decoration: none;
  padding-left: 2rem;
  color: white;
}

.column {
  display: flex;
}

.par {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 25rem;
  margin-left: 5rem;
}

.payment {
  background-color: rgba(16, 38, 51, 0.781);
  color: white;
  width: 25rem;
  height: 20rem;
  border-radius: 10px;
  margin-left: 20rem;
  margin-top: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.head-section{
margin-left: 5rem;
margin-top: 2rem;
}

.momo {
  margin-left: 2rem;
}
.num {
  margin-left: 5px;
  width: 10rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}

.CP {
  margin-top: 5rem;
}
.CP input {
  border-radius: 5px;
  border: none;
  outline: none;
  height: 2rem;
  margin-left: 8.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}
.CP input:hover{
  cursor: pointer;
  background-color: rgba(63, 155, 63, 0.781);
}
