.container {
  position: relative;
  margin-left: 55%;
  margin-top: 160px;
  color: blanchedalmond;
  background-color: #914604;
  width: 28%;
  padding: 10px;
  border-radius: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

h3 {
  text-align: center;
}
form {
  /* border: 3px solid #f1f1f1; */
  display: inline;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  display: block;
  /* margin-left: 50px; */

  width: 100%;
  padding: 6px 10px;
  margin: 5px 0;

  border: 1px solid rgb(214, 74, 74);
  box-sizing: border-box;
}

input[type="submit"]{
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: aliceblue;
  margin-bottom: 20px;
}

