*{
    /* background-image: url(./Images/Landing\ Page.png); */
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    /* background-color: gray; */
}
.bg-light{
  background-color: transparent;
}

.head{
    color: white;
        font-size: 2rem;
    display: flex;
}
.nav-links :hover{
  background-color: orange;
} 
.btn{
  color: orange;
  background-color: white;
  border: whitesmoke;
  width: 15rem;
  height: 3rem;
  border-radius: 30px;
  text-emphasis: bold;
  text-size-adjust: 3rem;
  float: right;
  margin-top: 20rem;
  margin-right: 5rem;
}



.wordSlider {
  background: transparent ;
  font-family: 'Titillium Web', Helvetica, Arial;
  font-size: 5px;
  color: #eeeeee;
  font-weight: 100;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 4rem;
  margin-left: 3rem;


}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: 10px;
 
}
h2 {
  font-size: 10px;
  
}
h3 {
  font-size: 10px;
  
}
.container {
  margin-top: 2rem;
  text-align: center;
}
.iconify{
  background-attachment: orange;

}


